.file-table {
    width: 100%;
}

.header-name {
    width: 45%;
}

.header-mod {
    width: 37%;
}

.header-size {
    width: 18%;
}

.header-desc {
    width: 0;
}

th {
    height: 30px;}

.file-table-container {
    padding: 10px 10px 0 50px ;
}

.file-table-container h1 {
    text-align: center;
}

.file-row {
    margin: 20px;
    height: 35px;
    border-bottom: 1px solid darkgrey;
}
.file-row:hover {
    background-color: aliceblue;
}

.header-title:hover {
    cursor: pointer;
}

.shaded {
    background-color: #f4f6f7;
}

/*rgb(240, 91, 52)
*/


a, a:visited { color:black; text-decoration: none}


.td-name a {
    /*color:rgb(240, 91, 52)*/
}

@media only screen and (max-width: 750px) {
    th, td {
        font-size: 1.05em;
    }
}

@media only screen and (max-width: 600px) {
    th, td {
        font-size: 1em;
    }
}

@media only screen and (max-width: 500px) {
    th, td {
        font-size: 0.75em;
    }
}

@media only screen and (max-width: 450px) {
    th, td {
        font-size: 0.7em;
    }
}
@media only screen and (max-width: 400px) {
    th, td {
        font-size: 0.6em;
    }
}


@media only screen and (min-width: 1500px) {
    th, td {
        font-size: 1.2em;
    }
}