.file-table {
    width: 100%;
}

.header-name, .header-mod {
    width: 35%;
}

.header-size {
    width: 10%;
}

.header-desc {
    width: 20%;
}

th {
    height: 30px;}

.file-table-container {
    padding: 10px 10px 0 20px ;
}

.file-table-container h1 {
    text-align: center;
}

.file-row {
    margin: 20px;
    border-bottom: 1px solid darkgrey;
}

.header-title:hover {
    cursor: pointer;
}

.shaded {
    background-color: #f4f6f7;
}

a:visited { text-decoration: none; color:blue}

@media only screen and (max-width: 750px) {
    th, td {
        font-size: 0.95em;
    }
}

@media only screen and (max-width: 600px) {
    th, td {
        font-size: 0.85em;
    }
}

@media only screen and (max-width: 500px) {
    th, td {
        font-size: 0.65em;
    }
}

@media only screen and (max-width: 450px) {
    th, td {
        font-size: 0.58em;
    }
}
@media only screen and (max-width: 400px) {
    th, td {
        font-size: 0.45em;
    }
}


@media only screen and (min-width: 1500px) {
    th, td {
        font-size: 1.2em;
    }
}

@media only screen and (min-width: 2000px) {
    th, td {
        font-size: 1.2em;
    }
}
@media only screen and (min-width: 2300px) {
    th, td {
        font-size: 1.2em;
    }
}

@media only screen and (min-width: 2500px) {
    th, td {
        font-size: 1.2em;
    }
}