.logo {
    flex: 0 1 auto;
    margin-left: 30px;
    width: 25%;
    justify-content: flex-start;

}
.header {
    padding: 0;
    margin-bottom: 10px;
    border-bottom: 1px solid lightgrey;
    display: flex;
    width: 100%;
    box-shadow: 0 1px 1px -1px lightgray;
    align-items: center;
}
h1 {
    margin: 31px;
    /*text-align: center;*/
    flex: 0 1 auto;
    padding-left: 0;
    font-size: 1.6em;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 1.3em;
    }
}
@media only screen and (max-width: 400px) {
    h1 {
        font-size: 1.1em;
    }
}
