.logo {
    margin-left: 30px;
    width: 30%;
}

a {
    flex: 1;
}
.header {
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid lightgrey;
    display: flex;
    /*width: 100%;*/
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    align-items: center;
}

.title-div {
    flex: 1.5;
}

@media only screen and (max-width: 900px) {
    h1 {
        font-size: 1.4em;
    }
}

@media only screen and (max-width: 750px) {
    h1 {
        font-size: 1.2em;
    }
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 1.1em;
    }
    .logo {
        width: 40%;
    }
}
@media only screen and (max-width: 400px) {
    h1 {
        font-size: 1.0em;
    }
}

@media only screen and (min-width: 1500px) {
    h1 {
        font-size: 1.8em;
    }

    .logo {
        width: 20%;
    }
}

@media only screen and (min-width: 2000px) {
    h1 {
        font-size: 2em;
    }
}
@media only screen and (min-width: 2300px) {
    h1 {
        font-size: 2.2em;
    }

    .logo {
        width: 17%;
    }
}

@media only screen and (min-width: 2500px) {
    h1 {
        font-size: 2.5em;
    }
}