.app-logo-img {
    width: 250px;
}

.app-name {

}

.bant-medly-sizing {
    height: 115px;
    width: auto;
}

.apps-container {
    text-align: center;
}

.app-logo {
    text-align: center;
    margin: 20px;
    border: 1px solid lightgray;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    display: inline-block;
}