.app-logo-img {
    width: 380px;
    align-self: center;
    justify-self: center;
}

.file-table {
    padding-bottom: 12px;
}

.background-color-icc {
    background: rgb(86, 187, 198);
}

.background-color-bant {
    background: rgb(73, 132, 184);
}

.bant-medly-sizing {
    height: 115px;
    width: auto;
}

.quick-links-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.quick-links {
    flex: 1;
    padding-left: 15px;
}

.quick-links-title {
    text-align: center;
    padding-bottom: 20px;
}

.quick-links .td-name a {
    color: black;
}

a {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.app-div-container {
    display: flex;
    justify-content: center;
    flex-grow: 0;
}

.apps-container {
    display: flex;
    flex-direction: column;
}

.app-logo {
    margin: 20px;
    border: 1px solid lightgray;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.os-title {
    Margin: 5px auto 5px auto;
    font-weight: 900;
}

.app-div-link {
    text-decoration: none;
}

.see-all-files {
    text-align: center;
}

.medly-text-color {
    color: rgb(74, 196, 217)
}

.bant-text-color, .icc-text-color {
    color: white;
}

.ned-text-color {
    color: rgb(75, 153, 171);
}

.breathe-text-color {
    color: black
}

.quick-links th, .quick-links td {
    font-size: 1.2em;
}


@media only screen and (max-width: 1100px) {
    .quick-links th, .quick-links td, .os-title {
        font-size: 1em;
    }

    .see-all-files{
        font-size: 1.5em;
    }

    .app-logo-img {
        width: 340px;
    }
}

@media only screen and (max-width: 1050px) {
    .quick-links th, .quick-links td, .os-title {
        font-size: 0.92em;
    }

    .see-all-files{
        font-size: 1.4em;
    }

    .app-logo-img {
        width: 300px;
    }

}

@media only screen and (max-width: 950px) {
    .quick-links th, .quick-links td, .os-title{
        font-size: 0.8em;
    }

    .see-all-files{
        font-size: 1.3em;
    }

    .app-logo-img {
        width: 250px;
    }
}
@media only screen and (max-width: 850px) {
    .see-all-files{
        font-size: 1.2em;
    }

    .app-logo {
        margin: 20px 0 20px 0;
    }
}

@media only screen and (max-width: 750px) {
    .quick-links th, .quick-links td, .os-title {
        font-size: 0.7em;
    }

    .see-all-files{
        font-size: 1.1em;
    }

    .app-logo-img {
        width: 240px;
    }
}

@media only screen and (max-width: 680px) {
    .quick-links th, .quick-links td , .os-title{
        font-size: 0.6em;
    }
    .see-all-files{
        font-size: 1em;
    }
}

@media only screen and (max-width: 600px) {
    .quick-links th, .quick-links td, .os-title {
        font-size: 0.6em;
    }

    .see-all-files{
        font-size: 0.9em;
    }

    .app-logo-img {
        width: 150px;
        align-self: center;
    }

    .app-div-container {
        display: flex;
    }

    .app-logo {
        display: block;
        margin: 10px 0 10px 0;
    }

    .background-color-icc {
        background: rgb(86, 187, 198);
    }

    .background-color-bant {
        background: rgb(73, 132, 184);
    }
}

@media only screen and (max-width: 420px) {
    .quick-links th, .quick-links td, .os-title {
        font-size: 0.5em;
    }

    .see-all-files{
        font-size: 0.7em;
    }
}

@media only screen and (min-width: 1500px) {
    .quick-links th, .quick-links td, .os-title {
        font-size: 1.2em;
    }

    .app-logo-img {
        width: 420px;
    }
}

@media only screen and (min-width: 1750px) {
    .quick-links th, .quick-links td, .os-title {
        font-size: 1.4em;
    }

    .see-all-files{
        font-size: 2em;
    }

    .app-logo-img {
        width: 550px;
    }
}

@media only screen and (min-width: 2000px) {
    .quick-links th, .quick-links td, .os-title {
        font-size: 1.5em;
    }

    .see-all-files{
        font-size: 2.2em;
    }

    .app-logo-img {
        width: 750px;
    }
}