.app-logo-img {
    width: 350px;
}

.app-name {
}

.bant-medly-sizing {
    height: 115px;
    width: auto;
}

.quick-links-container {
    width: 70%;
}

.quick-links-title {
    text-align: center;
    padding-bottom: 20px;
}

a {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.app-div-container {
    padding-left: 30px;
    display: flex;
    justify-content: center;
    flex-grow: 0;
}

.apps-container {
    display: flex;
    flex-direction: column;
}

.app-logo {
    margin: 20px;
    border: 1px solid lightgray;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    display: flex;
    padding: 20px;
    justify-content: space-between;
}

.vl {
    border-left: 1px solid slategrey;
    height: 100%;
    margin-left: 20px;
}